*.sw[a-zA-Z]

*.py[co]
__pycache__

NuclearWeapon/
json_examples/
EVAunit00/settings.cfg

*.cfg

osbps/import_cust_osbps.py
osbps/export_cust_osbps.py
osbps/settings.txt

robo_test/*

test_data/reports/*

.gitreview
